* {
  box-sizing: border-box;
  background-color: #333;
  color: indianred;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

button {
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  /* border-color: #777; */
  border-color: indianred;
  padding: 3px 5px;
}
li {
  border-radius: 5px;
  padding: 5px;
}
.highlighted {
  background: #1111114f;
  /* border: thin solid indianred; */
}
